@model IEnumerable<PurebaClase1.Models.dbModels.Ticket>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="/css/CRUDS.css">
<h1>Inicio</h1>

<p>
    <a asp-action="Create">Crear nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCategoriaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuarioNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCategoriaNavigation.IdCategoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuarioNavigation.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdTicket">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdTicket">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdTicket">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
