@using PurebaClase1.ViewModel;

@model IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="/js/index.js"></script>

<link rel="stylesheet" href="/css/Index.css">

<div class="container">
    <div><h1>Bienvenido a La 9na Sinfonia</h1></div>+

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/Descuento.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/Nuevo.Jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/Hombres.png" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<div class="container mt-5">
    <h2>Productos destacados</h2>
    <div class="row">
    @foreach(Ropa ropa in Model.Ropa)
    {
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-80" style="width: 18rem;">
                <img src="@ropa.Imagen" class="card-img-top" alt="Producto 1">
                <div class="card-body">
                    <h5 class="card-title">@ropa.Titulo</h5>
                    <p class="card-text">@ropa.Descripcion</p>
                    <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#modalDetalle" data-titulo="@ropa.Titulo" data-descripcion="@ropa.Descripcion" data-imagen="@ropa.Imagen">
                        Ver
                    </button>
                </div>
            </div>
        </div>
    }
    </div>
</div>

<p>Todo tipo de ropa desde damas a caballeros encuentras aqui La 9na Sinfonia tu lugar de eleccion  </p>

<!-- modal  -->

<div class="modal fade" id="modalDetalle" tabindex="-1" aria-labelledby="modalDetalleLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDetalleLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img id="modalImagen" src="" alt="Imagen de la prenda">
                <p id="modalDescripcion"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Agregar al carrito</button>
            </div>
        </div>
    </div>
</div>




